body{
  background: #1A1A1A !important;
 }

/* General-selector-text-color */
.box-body {   
  background-color: #262626 ; 
} 
.text-b-main {   
  color: #CAFF33; 
} 

/* Navbar */
.navbar {
  border: 1px solid #262626;
  background-color: #1A1A1A;
}
.border-btn-col{
  background-color: #CAFF33 !important;
}
.nav-link {
  color: white !important;
  border-radius: 82px;
  padding: 5px 15px !important;
}
.nav-link:hover{
  color: white;
  background-color: #262626;
}

.login:hover, 
.signup:hover{
  color: black !important;
  background-color: #CAFF33 !important;
}
/* End of Navbar */

/* Welcome Section */
.welcome-section-bg-col {   
  background-color: #1C1C1C; 
} 
.welcome-text-bg-col {   
  background-color: #1A1A1A; 
} 
.welcome-text {   
  border-radius: 10px 10px 80px 10px;   
  position: relative;   
  left: 12rem;   
  height: 530px;   
  width: 100%; 
}  
.welcome-image {   
  width: 800px;
}

.welcome-text {
    border-radius: 10px 10px 10px 10px;
    position: relative;
    left: 0rem;
    bottom: 1.5rem;
    height: 530px;
    width: 100%;
  }
  .welcome-image {
    width: 100%;
  }

  @media  (min-width: 768px) and (max-width: 1024px) {
  
    .welcome-text {
      border-radius: 10px 10px 80px 10px;
      position: relative;
      left: 0rem;
      height: 530px;
      width: 100%;
    }
    .welcome-image {
      width: 100%;
    }
    .welcome-text {
      border-radius: 10px 10px 10px 10px;
      position: relative;
      left: 0rem;
      bottom: 2.5rem;
      height: 530px;
      width: 100%;
    }
  }
  
 /* Footer */
 footer {
  background: #1C1C1C !important;
 }
.footer-link {
  color: white;
  text-decoration: none;
  border-radius: 82px;
  padding: 5px 15px !important;
}
.footer-link:hover{
  color: white;
  background-color: #262626;
}
.line {
  border-right: 1px solid #B3B3B3;
}
.line-text-col {
  color: #B3B3B3;
}
@media  (min-width: 320px) and (max-width: 430px) {
  .social {
    position: relative;
    bottom: 1.5rem;
  }
 
}
.footer-border-col {
  border: 1px solid #262626;
}
.social-bg-col {
  background: #CAFF33;
  height: 43px;
  width: 43px;
}


  
  



