/* Global styling */
.about-bg-col {
  background: #5c3838;
}
.nav-border-col {
  border: 1px solid #262626;
}
.login-bg-col {
  background: #CAFF33;
}
.login-text-col {
  color: #CAFF33;
}

*{
  font-family: 'Lexend', sans-serif;
}


.left-container {
  position: relative;
  left: 10rem;
}

.text {
  color: #CAFF33 !important;

}

/* footer */
.line {
  border-right: 1px solid #B3B3B3;
}
.line-text-col {
   color: #B3B3B3;
}

@media  (min-width: 320px) and (max-width: 430px) {
  .social {
    position: relative;
    bottom: 1.5rem;
  }
 
}
